<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>

<h2>User Profile</h2>

{% if user.profile_image %}
    <img src="{{ user.profile_image.url }}"
         width="150">
{% endif %}

<p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>

<p><b>Email:</b> {{ user.email }}</p>

<p><b>Phone:</b> {{ user.phone }}</p>

<p><b>Employee ID:</b> {{ user.employee_id }}</p>

<p><b>Role:</b> {{ user.role }}</p>

<a href="{% url 'edit_profile' %}">
    Edit Profile
</a>

<br><br>

<a href="{% url 'change_password' %}">
    Change Password
</a>
<h3>Logged In User: {{ request.user.email }}</h3>
<h3>Role: {{ request.user.role }}</h3>
</body>
</html>